<h1>Détail de la demande de location</h1>


<p>Ici vous pouvez examiner votre demande de location et suivre son avancement</p>


<%= render 'form', order: @order %>

<%= link_to 'Show', @order_validation %> |
<%= link_to 'Back', order_validations_path %>
