<div class="form-container">
	<p class="devise-title">Détail de la demande de location</p>
	<p>Ici vous pouvez examiner votre demande de location et suivre son avancement</p>


	<%= render 'form', order: @order %>
	<%= link_to 'Back', order_validations_path %>
</div>