<p class="category-title">BOÎTIER REFLEX</p>
<hr>
	<a href="#" class="brand-btn">Nikon</a>
	<a href="#" class="brand-btn">Leica</a>
	<a href="#" class="brand-btn">Canon</a>
	<a href="#" class="brand-btn">Panasonic</a>
<hr>

    
<div class="category-item">

    <div class="row">
                       <% @items.each do |item| %> 

        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="item-card-container">
            	<% if item.item_image.attached? %>
                        <%= link_to image_tag(item.item_image, width: "50", :alt => "pixeloo" , :class => "img-fluid item-img"),item %>
                        
                <% end %>

                <div class="item-title"><%= link_to item.title,item %>
                </div>

                <div class="item-price"><%= number_to_currency item.price, unit: '€ / jour', separator: ',', format: '%n %u' %>         
                </div>

                <% if user_signed_in? %>
                          <center><%= button_to "Ajouter au panier" ,line_items_path(item_id: item), class: "panier-btn" %></center>
                         <% end %>


            </div>
        </div>
    <% end %>

    </div>

</div>
