<main>
    <div class="row">
        <div class="col-lg-6">
        <p class="title">PIXELOO</p>
        <h1 class="brand-description">Plus que de la photo, partage ton expérience</h1>
        <form>
            <input class="main-search-bar" type="text" placeholder="Que recherches-tu ?">
            <button class="search-bar-submit" type="submit">🖐</button>
        </form>
        </div>
        <div align="center" class="col-lg-6">
        <%= image_tag("main_img.jpg", :alt => "pixeloo" , :class => "img-fluid main-img")%>
        </div>
    </div>
</main>

<div class="content-1">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="presentation-card-container">
                <div class="presentation-card-avatar"><i class="presentation-image who fas fa-users"></i></div>
                <div class="presentation-card-title">Qui ?</div>
                <div class="presentation-card-description">Pixeloo est une plateforme de location de matériel photo et video</div>
            </div> 
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="presentation-card-container">
                <div class="presentation-card-avatar"><i class="presentation-image why fas fa-question"></i></div>
                <div class="presentation-card-title">Pourquoi ?</div>
                <div class="presentation-card-description">Pourquoi utiliser Pixeloo? Parce que nous sommes tout d'abord une communauté d'échange </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="presentation-card-container">
                <div class="presentation-card-avatar"><i class="presentation-image how fas fa-desktop"></i></div>
                <div class="presentation-card-title">Comment ?</div>
                <div class="presentation-card-description">Tu souhaites mettre ton matériel en location? ou tu souhaites louer?</div>
            </div>
        </div>
    </div>
</div>
<p class="index-category-title">Categories</p>

<div class="content-2">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <a href="/category/show">
                <div class="category-card-container">
                    <div class="category-card-title"><%= link_to "BOITIERS", category_path %>
</div>
                    <div class="category-card-circle"></div>
                </div>
            </a>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <a href="/">
                <div class="category-card-container">
                    <div class="category-card-title"><%= link_to "OBJECTIFS", category_path %></div>
                    <div class="category-card-circle"></div>
                </div>
            </a>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <a href="/">
                <div class="category-card-container">
                    <div class="category-card-title"><%= link_to "ÉCLAIRAGE", category_path %></div>
                    <div class="category-card-circle"></div>
                </div>
            </a>
        </div>
    </div>
</div>