<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<div class="container">
    <div class="col-md-12">
        <div>
            <% @items.each do |item| %>
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                                <%= link_to item.title,item,class:"btn btn-primary btn-block" %>
                        </div>
                        <div class="panel-body">
                            Price  : <%= number_to_currency(item.price, unit: "RS " ) %><br>
                        </div>
                        <div class="panel-footer">
                            <%= link_to "Edit" ,edit_item_path(item) , class: "btn btn-default" %>
                            <%= link_to "Delete" ,item , :confirm => "Are you sure?" , :method => :delete , class: "btn btn-danger"%>
                        <hr>
                        </div>
                    </div>
                </div>
            <%end%>
        </div>
    </div>
</div>