<main>
    <div class="row">
        <div class="col-lg-6">
        <p class="title">PIXELOO</p>
        <h1 class="brand-description">Une plateforme de location de matériel photo</h1>
        <form>
            <input class="main-search-bar" type="text" placeholder="Que recherches-tu ?">
            <button class="search-bar-submit" type="submit">🖐</button>
        </form>
        </div>
        <div align="center" class="col-lg-6">
        <%= image_tag("main_img.jpg", :alt => "pixeloo" , :class => "img-fluid main-img")%>
        </div>
    </div>
</main>

<div class="content-1">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="presentation-card-container">
                <div class="presentation-card-avatar"></div>
                <div class="presentation-card-title">Rapide</div>
                <div class="presentation-card-description">Hi et Olybrium suam Chilo.</div>
            </div> 
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="presentation-card-container">
                <div class="presentation-card-avatar"></div>
                <div class="presentation-card-title">Efficace</div>
                <div class="presentation-card-description">Pacuvii patrius se quis cum.</div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="presentation-card-container">
                <div class="presentation-card-avatar"></div>
                <div class="presentation-card-title">Pas cher</div>
                <div class="presentation-card-description">Se tramitibus intactam timore praesidiis.</div>
            </div>
        </div>
    </div>
</div>

<p class="index-category-title">Categories</p>

<div class="content-2">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <a href="/category/show">
                <div class="category-card-container">
                    <div class="category-card-title">BOÎTIER REFLEX</div>
                    <div class="category-card-circle"></div>
                </div>
            </a>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <a href="/">
                <div class="category-card-container">
                    <div class="category-card-title">OBJECTIF</div>
                    <div class="category-card-circle"></div>
                </div>
            </a>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <a href="/">
                <div class="category-card-container">
                    <div class="category-card-title">ÉCLAIRAGE</div>
                    <div class="category-card-circle"></div>
                </div>
            </a>
        </div>
    </div>
</div>