.index-categy-title {
	margin: 5% 0;
	text-align: center;
	font-size: 55px;
}

.content-2 {
	margin: 5% 5% 0 10%;
}

.category-card-container {
	transition: all 0.3s;
	width: 340px;
	height: 180px;
	border-radius: 10px;
	background: #FFB75E;
	background: -webkit-linear-gradient(to left, #ED8F03, #FFB75E);
	background: linear-gradient(to left, #ED8F03, #FFB75E);
	box-shadow: 0 3px 15px 0 rgba(0,0,0,.25);
	padding: 5% 2%;
}

.category-card-container:hover {
	box-shadow: 0 13px 25px 0 rgba(0,0,0,.25);
	transform: translateY(-10px);
}

.category-card-title {
	color: #fff;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	line-height: 22px;
	padding: 5% 2%;
}

.card-description {
	text-align: center;
	color: #c4cfd7;
	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
	padding: 0 12px;
}
