<h1>Bonjour <%= @customer %> </h1>

<p>Ta location de <%= @item.title  %> viens d'être acceptée, viens voir sur Pixeloo afin d'en savoir plus</p>
<p>

<%= link_to "Voir la demande", edit_order_validation_url(@order) %>





