<h1>Bonjour <%= @customer %> </h1>

<p>Ta location de <%= @item.title  %> viens d'être confirmée, tu peux maintenant entrer en contact avec le propriétaire du matériel</p>
<p>

<%= link_to "Voir la demande", edit_order_validation_url(@order) %>




