<h1>Bonjour <%= @owner %> </h1>

<p>Tu as une demande de location pour ton <%= @item.title%> viens voir sur Pixeloo afin d'en savoir plus</p>
<p>

<%= link_to "Voir la demande", edit_order_validation_url(@order) %>





