

  <div class="form-container">
  <p class="devise-title">Détail de la demande de location</p>


  <p>Erreur de paiement : veuillez rééssayer</p>

                         

                                    </div>
        

                <%= link_to 'Show', @order_validation %> |
  <%= link_to 'Back', order_validations_path %>
</div>











      

