<!-- Footer -->
<footer id="footer" class="footer">
    <div class="footer-top">
        <div class="container">
            <center>
                <p>
                    Copyright &copy; 2018 <strong>Amazing cat</strong> - All rights reserved
                </p>
            </center>
        </div>
    </div>
</footer>